html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
    font-size: 14px;
    line-height: 1.42857;
    background-color: #444444;
    color: #fff; }

h1 {
    font-size: 4em;
    font-weight: 100;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.8em;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 20px;
    width: 50%;
}

.outer {
    display: table;
    position: absolute;
    height: 90%;
    width: 100%;
}
@media only screen and (max-width:768px) {
    .outer {
        height: 85%;
    }        
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: 5%;
    margin-right: 5%; 
    width: 90%;
}

.botones-pisos {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
}

#valorTotal {
    float: left;
    z-index: 999;
    font-size: 4em;
    font-weight: 100;
    text-align: center;
    width: 280px;
    height: 280px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #ffffff;
    background-color: transparent;
    padding-top: 95px;
}

#footer {
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: #282828;
    bottom: 0;
    padding: 10px;
    font-size: 0.9em;
    font-weight: 100;
    letter-spacing: 1px;
    border-top: solid 1px white; 
}
@media screen and (max-width : 540px) {
    #footer {
        font-size: 0.8em;
    }    
}

@media screen and (max-width : 900px) {
    #footer {
        height: 15%;
    }
}

.warnings {
    padding: 15px;
    background-color: #b12625;
    display: none;
}

.contenidoTexto {
    float: left;
}