@import "components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";
@import "mixins/opacity.scss";
@import "mixins/breakpoint.scss";

// @import "animate.min.css";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@include font-face('Gotham', 'fonts/gotham');

/* ########
   Fuentes
   ######## */

$fontset-gotham: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

/* ########
   Colores
   ######## */


$black: #000;
$white: #FFF;

$circulo: 280px;
$circulolg: 350px;


/* ################
   Bootstrap Resets
   ################ */

$navbar-default-bg: transparent;
$navbar-default-border: none;
$tooltip-max-width:           520px !default;

// Import custom bootstrap components

// Core variables and mixins
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/type";
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/code";
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";

// Components
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns";
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups";
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/input-groups";
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/badges";
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-embed";
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/tooltip";
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/popovers";

// Utility classes
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

header{
    pointer-events: none;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
    font-family: $fontset-gotham;

    .header-gcba {
        height:50px;
        padding:10px 0;
        overflow:visible;
        background-color: transparent;
    }

    // .header-inner {
    //     padding-right:20px;
    //     padding-left:20px
    // }

    .header-gcba .logo {
        float:left;
        width:172px;
        height:33px;
        @include retina-image("img/logo-invertido", 172px 34px);
    }

    .header-gcba h2.slogan {
        float: right;
        text-align: right;
        font-weight: bold;
        margin-top: 0.75em;
        font-size: 0.85em;
        letter-spacing:-1px;
        color: $white;
        text-transform: uppercase;
        min-width: 150px;
    }
}

body {
  font-size: 14px;
  line-height: 1.42857;
  background-color: #444444;
  color: #fff;
  // @include breakpoint(xs) {
  //   border-top: 5px solid #F17E2A;
  // }
  // @include breakpoint(sm) {
  //   border-top: 5px solid #CC4A59;
  // }
  // @include breakpoint(md) {
  //   border-top: 5px solid #772626;
  // }
  // @include breakpoint(lg) {
  //   border-top: 5px solid #30013F;
  // }
  // @media (max-height:700px) {
  //   border-top: 5px solid red;
  // }
}

h1 {
  font-size: 4em;
  font-weight: 100;
  letter-spacing: 1px;
  @include breakpoint(xs) {
    font-size: 2em;
  }
  @include breakpoint(sm) {
    font-size: 2.5em;
  }
  @include breakpoint(md) {
    font-size: 3em;
  }
  @include breakpoint(lg) {
    font-size: 4em;
  }
}

h2 {
  font-size: 1.8em;
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 20px;
  @include breakpoint(xs) {
    font-size: .8em;
  }
  @include breakpoint(sm) {
    font-size: 1em;
  }
  @include breakpoint(md) {
    font-size: 1.2em;
  }
  @include breakpoint(lg) {
    font-size: 1.8em;
  }
}

.outer {
  display: table;
  margin: 0;
  max-width: none;
  height: 80vh;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.botones-pisos {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.valores {
  position: relative;
  z-index: 999;
  font-size: 4em;
  font-weight: 100;
  text-align: center;
  width: $circulo;
  height: $circulo;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background-color: transparent;
  padding-top: 95px;
  margin: 0 auto;
  @include breakpoint(lg) {
    width: $circulolg;
    height: $circulolg;
    border: 5px solid #ffffff;
    padding-top: 120px;
  }
  .badge {
    position: absolute;
    top: 100px;
    right: 30px;
    display: block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    color: #fff;
    vertical-align: none;
    background-color: transparent;
    border: none;
    @include breakpoint(lg) {
      top: 130px;
      right: 50px;
    }
  }
}

/* #######

ODOMETER

####### */

.odometer {
  &.odometer-auto-theme, &.odometer-theme-default, &.odometer-auto-theme .odometer-digit, &.odometer-theme-default .odometer-digit {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
  }
  &.odometer-auto-theme .odometer-digit .odometer-digit-spacer, &.odometer-theme-default .odometer-digit .odometer-digit-spacer {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    visibility: hidden;
  }
  &.odometer-auto-theme .odometer-digit .odometer-digit-inner, &.odometer-theme-default .odometer-digit .odometer-digit-inner {
    text-align: left;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  &.odometer-auto-theme .odometer-digit .odometer-ribbon, &.odometer-theme-default .odometer-digit .odometer-ribbon {
    display: block;
  }
  &.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, &.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
    display: block;
    -webkit-backface-visibility: hidden;
  }
  &.odometer-auto-theme .odometer-digit .odometer-value, &.odometer-theme-default .odometer-digit .odometer-value {
    display: block;
    -webkit-transform: translateZ(0);
  }
  &.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, &.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
    position: absolute;
  }
  &.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, &.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
    -webkit-transition: -webkit-transform 2s;
    -moz-transition: -moz-transform 2s;
    -ms-transition: -ms-transform 2s;
    -o-transition: -o-transform 2s;
    transition: transform 2s;
  }
  &.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, &.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner, &.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, &.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  &.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, &.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition: -webkit-transform 2s;
    -moz-transition: -moz-transform 2s;
    -ms-transition: -ms-transform 2s;
    -o-transition: -o-transform 2s;
    transition: transform 2s;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  &.odometer-auto-theme, &.odometer-theme-default {
    line-height: 1.1em;
  }
  &.odometer-auto-theme .odometer-value, &.odometer-theme-default .odometer-value {
    text-align: center;
  }
}

footer {
    font-family: $fontset-gotham;
    display: block;
    color: $white;
    bottom: 0px;
    width: 100%;
    background-color: #333333;
    @include breakpoint(xs) {

    }
    // @include breakpoint(sm) {
    //   border-top: 5px solid #CC4A59;
    // }
    // @include breakpoint(md) {
    //   border-top: 5px solid #772626;
    // }
    // @include breakpoint(lg) {
    //   border-top: 5px solid #30013F;
    // }
    &.footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    .ministerio {
        padding: 30px 0;
    }
    .modernizacion {
        text-align: right;
    }
    .definicion {
        text-align: left;
    }
}

.warnings {
  padding: 15px;
  background-color: #ffffff;
  display: none;
  color: #858585;
}

// .contenidoTexto {
//   width: 70%;
//   float: left;
// }

.clear {
  clear: both;
}

.typed-cursor {
  display: none;
}

/* ============================================================
  COMMON
============================================================ */

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
  + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
  }
}

.switch {
  position: absolute;
  bottom: 120px;
  width: 130px;
  margin-left: -65px;
  left: 50%;
  z-index: 900;
  .faded {
    @include opacity(0.6);
  }
}

@media screen and (max-width: 900px) {
  div.switch {
    bottom: 17%;
  }
}

span.labels-switch {
  padding: 5px;
  float: left;
  font-weight: 600;
}

/* ============================================================
  SWITCH 2 - ROUND FLAT
============================================================ */

input.cmn-toggle-round-flat {
  + label {
    padding: 0px;
    width: 60px;
    height: 30px;
    border: 1px solid #ffffff;
    background-color: transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
    &:before, &:after {
      display: block;
      position: absolute;
      content: "";
    }
    &:before {
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      background-color: transparent;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      border-radius: 30px;
      -webkit-transition: background 0.4s;
      -moz-transition: background 0.4s;
      -o-transition: background 0.4s;
      transition: background 0.4s;
    }
    &:after {
      top: 0px;
      left: 0px;
      bottom: 0px;
      width: 30px;
      border: 1px solid #ffffff;
      background-color: #ffffff;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      border-radius: 30px;
      -webkit-transition: margin 0.4s, background 0.4s;
      -moz-transition: margin 0.4s, background 0.4s;
      -o-transition: margin 0.4s, background 0.4s;
      transition: margin 0.4s, background 0.4s;
    }
  }
  &:checked + label {
    background-color: transparent;
    &:after {
      margin-left: 30px;
      background-color: #ffffff;
    }
  }
}

// Pace

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }
}

.pace-inactive {
  display: none;
}